<section class="bg-white">
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Ofertas Especiales</h2>
    <!-- Filtros y Ordenación
    <div class="flex flex-wrap items-center justify-between mb-6">
      <div class="w-full md:w-auto mb-4 md:mb-0">
        <label for="discount" class="block text-sm font-medium text-gray-700 mb-2">Descuento mínimo:</label>
        <select id="discount" class="form-select w-full md:w-auto">
          <option>Todos los descuentos</option>
          <option>10% o más</option>
          <option>25% o más</option>
          <option>50% o más</option>
        </select>
      </div>
      <div class="w-full md:w-auto">
        <label for="expiry" class="block text-sm font-medium text-gray-700 mb-2">Expira en:</label>
        <select id="expiry" class="form-select w-full md:w-auto">
          <option>Cualquier momento</option>
          <option>24 horas</option>
          <option>Esta semana</option>
          <option>Este mes</option>
        </select>
      </div>
    </div> -->

    <!-- Lista de Ofertas -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

      <div *ngFor="let product of products;" class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="relative">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="w-full h-48 object-cover">
          <div *ngIf="product.oferta"
            class="absolute top-0 right-0 bg-red-500 text-white px-2 py-1 m-2 rounded-md font-semibold">
            -{{ product.oferta }}%
          </div>
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ product.name }}</h3>
          <p class="text-gray-600 mb-4">{{ product.description }}</p>
          <div class="flex items-center justify-between ">
            <div>
              <span class="text-xl font-bold text-gray-800">{{ getDiscountedPrice(product) | currency : 'COP' }}</span>
              <span *ngIf="product.oferta" class="text-sm text-gray-500 line-through ml-2">{{ product.price | currency :
                'COP' }}</span>
            </div>
            <button (click)="addToCart(product.id)"
              class="bg-teal-600 text-white px-4 py-2 rounded hover:bg-teal-700 transition duration-300">
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>