<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Administración de Productos</h1>
  <button (click)="openModal()"
    class="bg-teal-500 hover:bg-teal-700 hover:scale-110 transition-all text-white font-bold py-2 px-4 rounded mb-4 flex gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-table-plus">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
      <path d="M3 10h18" />
      <path d="M10 3v18" />
      <path d="M16 19h6" />
      <path d="M19 16v6" />
    </svg>
    <p>Agregar Producto</p>
  </button>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let product of products;" class="bg-white rounded-lg shadow-md overflow-hidden">
      <div class="relative z-10">
        <img [src]=" 'http://localhost:3000' + product.image" alt="{{ product.name }}" class="w-full h-48 object-cover">
        <div *ngIf="product.oferta"
          class="absolute top-0 right-0 bg-red-500 text-white px-2 py-1 m-2 rounded-md font-semibold">
          -{{ product.oferta }}%
        </div>
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ product.name }}</h3>
        <p class="text-gray-600 mb-4">{{ product.description }}</p>
        <div class="flex items-center justify-between">
          <div>
            <span *ngIf="product.oferta" class="text-sm text-gray-500 line-through ml-2">{{ product.price | currency :
              'COP' }}</span>
          </div>
          <div class="flex gap-2">
            <button (click)="deleteProduct(product.id)"
              class="mt-2 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
              Eliminar
            </button>
            <button (click)="openEditModal(product)"
              class="mt-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngFor="let product of products;" class="bg-white shadow-md rounded-lg p-4">
      <h2 class="text-xl font-semibold">{{ product.name }}</h2>
      <p class="text-gray-600">{{ product.description }}</p>
      <p class="text-lg font-bold mt-2">{{ product.price | currency : 'COP' }}</p>
      <div class="flex gap-2">
        <button (click)="deleteProduct(product.id)"
          class="mt-2 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
          Eliminar
        </button>
        <button (click)="openEditModal(product)"
          class="mt-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">
          Editar
        </button>
      </div>
    </div> -->
  </div>
</div>
<app-product-modal #productModal [isOpen]="isModalOpen()" (closeModal)="closeModal()" (addProduct)="addProduct($event)"
  (updateProduct)="updateProduct($event)"></app-product-modal>